h1.base_meeting {
   padding: 0px 0px 0px 25px;
   color: #1faee9;
   width: 20%;
   float: left;
}

h4.base_meeting {
    padding: 13px 0px 0px 250px;
	width: 60%;
	float: left;
}

nav.base_meeting {
    padding: 10px 0px 0px 0px;
	width: 20%;
    float: left;
}

.titles {
    font-size: 850%;
}

.sending_message {
    position:fixed;
    bottom:0;
}
