{% extends "base.html" %}

{% block content %}
<div class="titles">
    <center>Участники</center>
</div>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <center>{{ form.submit(type="submit", class="btn btn-warning btn-lg") }}</center>


{% if persons %}
    {% for pers in persons%}
        <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
          {{pers}}
        </label>
    {% endfor %}
{% endif %}

</form>

<div class="list-group">
</div>
{% endblock %}