{% extends "base.html" %}

{% block content %}
<div class="titles">
    <center>Участники</center>
</div>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <center>{{ form.submit(type="submit", class="btn btn-warning btn-lg") }}</center>
    <p>
        {{ form.email_friends.label }}<br>
        {{ form.email_friends(class="form-control") }}<br>
        {% for error in form.email_friends.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
</form>
<h1>{{ message }}</h1>
{% endblock %}